@charset "utf-8";


@import url(//fonts.googleapis.com/css?family=Roboto:300,400,500,700);
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');
@font-face { 
  font-family: 'Noto Sans KR'; 
  font-style: normal; 
  font-weight: 100; 
  src: url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Thin.woff2) format('woff2'), 
      url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Thin.woff) format('woff'), 
      url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Thin.otf) format('opentype'); 
} 
@font-face { 
  font-family: 'Noto Sans KR'; 
  font-style: normal; 
  font-weight: 300; 
  src: url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Light.woff2) format('woff2'), 
      url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Light.woff) format('woff'), 
      url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Light.otf) format('opentype'); 
} 
@font-face { 
  font-family: 'Noto Sans KR'; 
  font-style: normal; 
  font-weight: 400; 
  src: url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Regular.woff2) format('woff2'), 
        url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Regular.woff) format('woff'), 
        url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Regular.otf) format('opentype'); 
 } 
@font-face { 
  font-family: 'Noto Sans KR'; 
  font-style: normal; 
  font-weight: 500; 
  src: url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Medium.woff2) format('woff2'), 
        url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Medium.woff) format('woff'), 
        url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Medium.otf) format('opentype'); 
 } 
@font-face { 
  font-family: 'Noto Sans KR'; 
  font-style: normal; 
  font-weight: 700; 
  src: url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Bold.woff2) format('woff2'), 
        url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Bold.woff) format('woff'), 
        url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Bold.otf) format('opentype'); 
 } 
@font-face { 
  font-family: 'Noto Sans KR'; 
  font-style: normal; 
  font-weight: 900; 
  src: url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Black.woff2) format('woff2'), 
        url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Black.woff) format('woff'), 
        url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Black.otf) format('opentype'); 
 } 

html,body {width:100%; font-family: 'Montserrat', sans-serif; font-weight:300;  }
#doc {position:relative;min-width:320px; overflow:hidden;-webkit-transition: all 0.3s ease-out;-moz-transition: all 0.3s ease-out;-o-transition: all 0.3s ease-out;transition: all 0.3s ease-out;}
body {overflow-y:visible;overflow-x:auto;}
	@media only screen and (min-width:1000px) {
		body {overflow-y:auto !Important;}
	}

/*=======================================================
  css dafault
=========================================================*/
.div-cont {position:relative;text-align:left;margin:0 auto; max-width:1220px;padding:0 42px;box-sizing:border-box;}
.div-cont:after {clear:both;content:"";display:block;}
	@media only screen and (max-width:1350px) {
		.div-cont{padding:0 35px;}
	}	
	@media only screen and (max-width:1100px) {
		.div-cont{padding:0 30px;}
	}
	@media only screen and (max-width:999px) {
		.div-cont{padding:0 20px}
	}
	@media only screen and (max-width:680px) {
		.div-cont{padding:0 15px}
	}
	@media only screen and (max-width:480px) {
		.div-cont{padding:0 10px}
	}


.body-slide-wr {position:relative;width:100%;transition:margin 0.3s ease;}
.body-slider-ovclick{position:fixed;z-index:2000;width:100%;height:100%;left:0;top:0;background:rgba(0,0,0,0.65);cursor:pointer }
.header-slider-ovclick{position:fixed;z-index:3600;width:100%;height:100%;left:0;top:0;background:rgba(0,0,0,0.65);cursor:pointer }
.layer-slider-ovclick{position:fixed;z-index:2000;width:100%;height:100%;left:0;top:0;background:rgba(0,0,0,0.65);cursor:pointer }
.content-slider-ovclick{position:absolute;z-index:2000;width:100%;height:100%;left:0;top:0;background:rgba(0,0,0,0.65);cursor:pointer }


/*=======================================================
    z-index dafault
=========================================================*/
#header-wrap{position:absolute;z-index:2005;}
#container-wrap{position:relative;z-index:1008; }
#footer-wrap{position:relative;z-index:1007; }


/*=======================================================
    #header-wrap 
=========================================================*/
#header-wrap{left:0; top:0; width:100%; min-width:320px;}
#header-wrap:after{width:20000px;height:100%; background:none; position:absolute; display:block; content:""; left:50%;margin-left:-10000px;z-index:-1; top:0;box-sizing:border-box;-webkit-transition: background 0.3s ease-out;-moz-transition: background 0.3s ease-out;-o-transition: background 0.3s ease-out;transition: background 0.3s ease-out;}
/* #header-wrap.fix.active{position:fixed;}
#header-wrap.fix:after{box-shadow: 0 1px 5px rgba(0, 0, 0, 0.25); -webkit-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.25); -moz-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.25) ;}
#header-wrap.fix #header{height:80px;}
#header-wrap.fix #gnb-wrap{opacity:0;}
#header-wrap.fix:after{background:#ed1d3a;} */
#header{height:120px;}

#header-wrap .inner{position:relative; height:100px; border-top: 5px solid #a5cd37; }
#header-wrap.fix .inner{position:absolute; left:0; top:0; width:100%;  transition:top .8s ease-in-out; top:-100px; border-top: none;}
#header-wrap.fix.active .inner{transition-delay:0.1s;box-shadow:1px 1px 9px rgba(0,0,0,.28); top:0;position:fixed;background:#ed1d3a;}
#main #header-wrap.fix.active .inner{background:#fff;}
#header-wrap.rlz .inner{position:relative; left:auto; top:auto; width:auto;
	background-color:rgba(0, 0, 0, 0.25);
	margin: 0 auto; -webkit-transition: background 0.3s ease-out;-moz-transition: background 0.3s ease-out;-o-transition: background 0.3s ease-out;transition: background 0.3s ease-out; }

#main #header-wrap.fix.active .inner #logo a{background-image:url(../_Img/m-logo.png)}

#logo{ position:absolute; left:24px; top:20px;width:280px; height:60px; z-index:3001}
#logo a{display:block;background:url(../_Img/logo.png) no-repeat left center;background-size:100% auto !important; height:60px; width: 100%; position: absolute; top: 0; left: 0;}




.bt-mnall{display:none;position:absolute; right:14px; top:14px; width:30px;height:30px;background:url(../_Img/Layout/bt-mnall.png) no-repeat center center; background-size:75% auto;}
.bt-mnclose{position:absolute;right:0;top:0;width:60px;height:60px; z-index:5400;border:0;background:url(../_Img/Layout/bt-mnclose.png) no-repeat center center #313131;}

#gnb-wrap{height:39px; position:relative;padding:0 25px; display: none;}
#gnb-wrap:after{position:absolute; left:50%;margin-left:-10000px; top:0; height:100%; box-sizing:border-box; width:20000px; border-bottom:1px solid rgba(255,255,255,0.3); display:block; content:""; z-index:-1}

#gnb-wrap ul:after{display:block; content:"";clear:both;}
#gnb-wrap li{float:left}
#gnb-wrap li:nth-child(2){margin-left:30px;}
#gnb-wrap li a, #gnb-wrap li p{display:block;padding-left:25px; line-height:39px;font-size:13px; font-weight:500; letter-spacing:0.01em; color:#fff; }

#gnb-wrap li:nth-child(1) p{background:url(../_Img/Layout/bt-tell.png) no-repeat left center;}
#gnb-wrap li:nth-child(2) a{background:url(../_Img/Layout/bt-mail.png) no-repeat left center;}
#gnb-wrap li:nth-child(3){position:absolute; right:24px; top:0;}
#gnb-wrap li:nth-child(3) a{padding-left:0; padding-right:25px;background:url(../_Img/Layout/bt-language.png) no-repeat right center; font-weight:400; text-transform:uppercase; font-size:11px;}
	@media only screen and (max-width:1350px) {
		#logo{left:20px; top:29px; width:220px; height:42px;}
		#logo a{ height:42px;}
		#gnb-wrap{padding:0 20px;}
		#gnb-wrap li:nth-child(3){right:20px}
	}	
	@media only screen and (max-width:1100px) {
		
	}
	@media only screen and (min-width:1000px){
		.header-slider-ovclick{display:none !important;}
		.content-slider-ovclick{display:none !important}
		#header-wrap.fix #logo{top:20px;/* width:150px; height:40px */;}
		/* #header-wrap.fix #logo a{ height:40px;background-image:url(../_Img/logo-over.png) no-repeat left center;} */
		#header-wrap.fix #mainNavi-wrap {top:0;}
	}
	@media only screen and (max-width:999px) {
		#header, #header-wrap.fix #header{height:60px}
		#header-wrap{position:fixed;}
		#header-wrap:after{background:#ed1d3a;border-bottom:none;}
		#main #header-wrap:after{background:#fff;border-bottom:none;box-shadow: 0 1px 5px rgba(0, 0, 0, 0.25); -webkit-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.25); -moz-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.25) ;}
		#logo{left:15px;top:9px; width:220px; height:42px;}
		#logo a{height:42px;background-image:url(../_Img/logo-over.png);}
		#gnb-wrap{display:none;}
		#header-wrap .inner{background:none; height:auto}

		.bt-mnall{display:block;}
		
		#main #header-wrap .inner #logo a{background-image:url(../_Img/m-logo.png) !important}
		#header-wrap.fix .inner{top:auto !important;; position:relative !important; left:auto !important;;width:auto !important;}
		#main .bt-mnall{background-image:url(../_Img/Layout/bt-mnallo.png) !important}

	}
	@media only screen and (max-width:680px) {
		/* #header, #header-wrap.fix #header{height:55px} */
		#logo{left:12px;top:9px; width:220px; height:42px;}
		.bt-mnall{top:14px;background-size:70% auto; right:12px;}
	}
	@media only screen and (max-width:480px) {
		
	}
	/* mainNavi-wrap */
	@media only screen and (min-width:1000px){
		.mn-top, .m-language, .mth-link{display:none;}

		#mainNavi-wrap {height:100px;overflow:hidden;position:absolute;left:0;top:0px;width:100%;display:block;z-index:2007;}
		#mainNavi {position:relative;overflow:visible !important; top: 15px;}
		
		.topmenu {display:block;position:relative; top: 0; text-align:right; font-size:0;width:auto !important; -webkit-transform:none !Important;  -moz-transform: none !Important;  -ms-transform:none !Important;  -o-transform:none !Important;  transform:none !Important}
		.topmenu:after {display:block;content:"";clear:both;}
		.topmenu .tgl-btn {display:none;}
		.topmenu .mn_a1 {height:34px; line-height: 34px;  padding:18px 25px;display:block;color:#fff; font-weight:500; letter-spacing:0; position:relative;  font-size: 20px; font-family: 'Montserrat'; }
		.topmenu .mn_l1 {display:inline-block;vertical-align:top; position:relative; cursor: pointer;}
		.topmenu .mn_l1:first-child{margin-left:170px;}
/*		.topmenu .is-open .mn_a1, .topmenu .is-over .mn_a1, .topmenu .over .mn_a1{font-weight:700; letter-spacing:-0.035em; }*/
		.topmenu .has-sub .mn_a1:after{width:10px; height:6px; position:absolute; right:5px; top:50%;margin-top:-3px;background:url(../_Img/Layout/depth-down.png) no-repeat center center; display:block; content:""; opacity:0.4;}
		.topmenu .has-sub.is-open .mn_a1:after{background:url(../_Img/Layout/depth-up.png) no-repeat center center;}

		.topmenu .depth2-wrap {position:absolute;top:50px;line-height:120%;text-align:left;display:none;visibility:hidden;padding:10px 5px 5px;left:-15px !important;width:360px !important;box-sizing:border-box;}
		.topmenu .depth2:before {content: ''; display: block; border: 7px solid transparent; border-bottom-color: #fff; width: 0; height: 0; position: absolute; top: -14px; left: 50px; z-index: 10;}
		.topmenu .depth2 {opacity:0;position:relative;height:190px; min-height:50px; padding: 25px 15px; background:#fff; box-sizing: border-box; border-radius:5px;box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.35)  ; -webkit-box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.35)  ; -moz-box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.35)  ; -webkit-transition: opacity 0.3s ease-out;-moz-transition: opacity 0.3s ease-out;-o-transition: opacity 0.3s ease-out;transition: opacity 0.3s ease-out; }
		.topmenu .depth2:after {content: ''; display: block; border: 7px solid transparent; border-bottom-color: rgba(0,0,0,0.2); width: 0; height: 0; position: absolute; top: -15px; left: 50px;}
		.topmenu .is-over .depth2, .topmenu .is-open .depth2{opacity:1;}
		.topmenu .depth2 li{letter-spacing:-0.03em;line-height: 18px; margin-bottom: 6px; width:100%; list-style: disc;}
		.topmenu .depth2 .mn_a2 {cursor:pointer; font-size:13px; display:block;text-transform:uppercase; position:relative;font-weight:400; letter-spacing:-0.045em;color:#454545;}
		.topmenu .depth2 .mn_a2:hover{color:#111; font-weight:500;}
		.topmenu .depth2 .mn_a2 span {}
		.topmenu .depth2 .mn_a2 span:before {content:""; display: inline-block; width: 5px; height: 5px; border-radius: 50%; background:#555; vertical-align: middle; margin-right: 10px; position: relative; top: -1px;}

		#mainNavi-wrap .ovbar {position:absolute;height:3px;top:57px;display:none !important;overflow:hidden;}
		#mainNavi-wrap .ovbar:after {position:absolute;bottom:0;left:50%;margin-left:-35%;background:#333; height:3px;content:"";display:block;z-index:200; width:70%;-webkit-transition: all 0.3s ease-out;-moz-transition: all 0.3s ease-out;-o-transition: all 0.3s ease-out;transition: all 0.3s ease-out;}
		
		.mn-bar {position:absolute;width:2000px;height:0; background:none; position:absolute; display:block; content:""; left:50%;margin-left:-1000px; z-index:-1; top:100px;}
			

		#main #header-wrap.fix.active .topmenu .mn_a1 {color:#2f2f2f; }
	}
	@media only screen and (max-width:999px) {
		#mainNavi-wrap{position:relative; z-index:4300; text-align:left; height:0 !Important}
		#mainNavi {position:fixed;background:#fff;transition:right 0.3s ease;z-index:7000;right:-250px;overflow-y:auto;overflow-x:hidden;top:0px;width:250px;height:100%;-webkit-transition: all 0.2s ease-out;-moz-transition: all 0.2s ease-out;-o-transition: all 0.2s ease-out;	transition: all 0.2s ease-out;}
		#mainNavi.mn-h-open {right:0;}

		.mn-top{position:relative; height:59px;}
		.mn-top h2{ background:#fff url(../_Img/m-logo.png) no-repeat 15px center; background-size:120px auto; height:59px; border-bottom:1px solid #dedede}
		
		.m-language{background:#f8f8f8; text-align:center; border-bottom:1px solid #dedede; display:block; padding:0 20px;}
		.m-language span{display:inline-block;vertical-align:top; font-size:14px; color:#313131; padding-left:25px; background:url(../_Img/Layout/mbt-language.png) no-repeat left center; line-height:47px;}
		
		.topmenu {width:100%;display:block;position:relative;}
		.topmenu:after {display:block;content:"";clear:both;}
		.topmenu li {line-height:1.3em;position:relative;}
		
		.topmenu a {position:relative;}
		.topmenu .mn-txt{display:none;}

		.topmenu .has-sub .tgl-btn {padding:0;display:block;width:20px;height:20px;position:absolute;right:15px;top:8px;border:0;z-index:100;text-indent:-9999em;background:transparent;}
		.topmenu .has-sub .tgl-btn:before {content:'';position:absolute;left:0;top:50%;width:60%;height:1px;background:#777;transform: rotate(45deg);}
		.topmenu .has-sub .tgl-btn:after {content:'';position:absolute;right:0;top:50%;width:60%;height:1px;background:#777;transform: rotate(-45deg);}
		.topmenu .mn_l1 > .tgl-btn {right:15px;top:16px;}
		.topmenu .mn_l1.is-open > .tgl-btn:before, .topmenu .mn_l1.over > .tgl-btn:before {left:2px;transform: rotate(0);}
		.topmenu .mn_l1.is-open > .tgl-btn:after, .topmenu .mn_l1.over > .tgl-btn:after {right:2px;transform: rotate(0);}
		.topmenu .mn_l2 > .tgl-btn {width:16px;height:16px;right:12px;top:16px;}
		.topmenu .mn_l2 > .tgl-btn:before, .topmenu .mn_l2 > .tgl-btn:after {height:1px;}
		.topmenu .mn_l2.is-open > .tgl-btn:before, .topmenu .mn_l2.over > .tgl-btn:before {transform: rotate(0);}
		.topmenu .mn_l2.is-open > .tgl-btn:after, .topmenu .mn_l2.over > .tgl-btn:after {transform: rotate(0);}

		.topmenu .mn_a1 {position:relative;display:block;border-bottom:1px solid #e6e6e6; z-index:1001}
		.topmenu .mn_a1 span {display:block;padding:17px 30px 17px 20px;overflow:hidden;font-size:15px;font-weight:400;letter-spacing:-0.01em;white-space:normal;cursor:pointer;color:#333;}
		.topmenu .over .mn_a1 span, .topmenu  .mn_a1:hover span {color:#111;}

		.topmenu .has-sub .is-ico {padding:0;display:block;width:30px;height:30px;position:absolute;right:0px;top:3px;border:1px solid red;}

		.topmenu li > div {display:none; opacity:0;}
		.topmenu .depth2-wrap {position:relative; width:auto !important}
		.topmenu .depth2 {position:relative;background:#f6f6f6;padding:12px 0;border-bottom:1px solid #e6e6e6;}
		.topmenu .depth2:after {clear:both;content:"";display:block}
		.topmenu .depth2 a {font-size:14px;line-height:1.3em;display:block;}
		.topmenu .depth2 .mn_l2 {list-style: disc; margin-left: 40px;}
		.topmenu .depth2 .mn_l2:last-child{border-bottom:none}
		.topmenu .depth2 .mn_l2.first , .topmenu .depth2 .mn_l2:first-child {border-top:0px}
		.topmenu .depth2 .mn_a2 {display:block;padding:4px; position:relative;}
		.topmenu .depth2 .mn_a2 span.img{display:none;}
		.topmenu .depth2 .mn_a2 span {font-size:14px;font-weight:300;cursor:pointer;color:#444;}
		.topmenu .depth2 .mn_a2:hover span, .topmenu .depth2 .over .mn_a2 span{color:#111;text-decoration:underline}
		
		
		.mth-link {position:absolute; left:0; bottom:0; padding:20px; width:100%; box-sizing:border-box; display: none;}
		.mth-link ul:after{display:block; content:"";clear:both;}
		.mth-link li{}
		.mth-link li:nth-child(n+2){margin-top:7px;}
		.mth-link li a{display:block; line-height:35px;text-align:center;font-size:13px; font-weight:400; letter-spacing:-0.02em; color:#333; border:1px solid #dedede; border-radius:40px;}
		.mth-link li a span{display:inline-block;vertical-align:top;padding-left:25px;}
		.mth-link li:nth-child(1) a span{background:url(../_Img/Layout/mbt-tell.png) no-repeat left center;}
		.mth-link li:nth-child(2) a span{background:url(../_Img/Layout/mbt-mail.png) no-repeat left center;}
		.mth-link li:nth-child(3) a{background-color:#f4f4f4}
		.mth-link li:nth-child(3) a span{background:url(../_Img/Layout/mbt-language.png) no-repeat left center;}
	}
	


/* ======================================================
   #container 
=========================================================*/
#container-wrap{}
#container-wrap.scontainer {margin: 120px auto 20px; min-height: calc(100vh - 275px); width: 88%; max-width: 1680px;}
#container-wrap.mcontainer #contents{display:block; min-height:700px; padding:0}
#container-wrap.scontainer #contents{display:block; min-height:700px; padding:80px 42px 150px 42px; position:relative;}
#container-wrap.scontainer #contents.no-pad{padding:80px 0 0 0;}
#container-wrap.scontainer #contents.no-mrg{padding-top:0;}
	@media only screen and (max-width:1350px) {
		#container-wrap.mcontainer #contents{padding:0 }
		#container-wrap.scontainer #contents{padding:65px 35px 120px 35px;}
		#container-wrap.scontainer #contents.no-pad{padding:65px 0 0 0;}
	}	
	@media only screen and (max-width:1100px) {
		#container-wrap.mcontainer #contents{padding:0 }
		#container-wrap.scontainer #contents{padding:55px 30px 100px 30px;}
		#container-wrap.scontainer #contents.no-pad{padding:55px 0 0 0;}
	}
	@media only screen and (max-width:999px) {
		#container-wrap.mcontainer{margin-top:60px;}
		#container-wrap.mcontainer #contents{padding:0}
		#container-wrap.scontainer #contents{padding:45px 20px 80px 20px;}
		#container-wrap.scontainer #contents.no-pad{padding:45px 0 0 0;}
	}
	@media only screen and (max-width:680px) {
		#container-wrap.mcontainer #contents{padding:0}
		#container-wrap.scontainer #contents{padding:40px 15px 70px 15px;}
		#container-wrap.scontainer #contents.no-pad{padding:40px 0 0 0;}
	}
	@media only screen and (max-width:480px) {
		#container-wrap.mcontainer #contents{padding:0}
		#container-wrap.scontainer #contents{padding:40px 10px 70px 10px;}
		#container-wrap.scontainer #contents.no-pad{padding:40px 0 0 0;}
	}


#top-vis{height:480px; position:relative; overflow:hidden;}
#top-vis .img{position:absolute; left:0; top:0; height:100%; width:100%;z-index:-1;background-size:cover !important;}
#top-vis .img img{width:100%; visibility:hidden;}
#top-vis .txt{position:absolute; text-align:center;left:0; width:100%; top:56%;-webkit-transform: translateY(-50%); -moz-transform: translateY(-50%);-ms-transform: translateY(-50%); -o-transform:  translateY(-50%);transform: translateY(-50%);}
#top-vis .btxt{font-size:20px;text-transform:uppercase; color:#fff; font-weight:100; line-height:1.2em; letter-spacing:0.03em;}
#top-vis .stxt{font-size:60px; color:#fff; font-weight:500; line-height:1.2em; letter-spacing:-0.04em; margin-top:5px;}

#top-vis .ico{position:absolute; text-align:center;left:50%; width:280px; margin-left:-140px;background:#ed1d3a;border-radius:100%; height:280px;top:56%;-webkit-transform: translateY(-50%); -moz-transform: translateY(-50%);-ms-transform: translateY(-50%); -o-transform:  translateY(-50%);transform: translateY(-50%);}
#top-vis .ico p{font-family: 'Roboto';padding-top:165px;font-size:47px;font-weight:700; color:#fff; text-transform:uppercase; text-align:center;}

#top-vis.vis0101 .img{background:url(../_Img/Sub/top-vis0101.jpg) no-repeat center center;}
#top-vis.vis0102 .img{background:url(../_Img/Sub/top-vis0102.jpg) no-repeat center center;}
#top-vis.vis0103 .img{background:url(../_Img/Sub/top-vis0103.jpg) no-repeat center center;}

#top-vis.vis0201 .img{background:url(../_Img/Sub/top-vis0201.jpg) no-repeat center center;}

#top-vis.vis0301 .img{background:url(../_Img/Sub/top-vis0301.jpg) no-repeat center center;}
#top-vis.vis0302 .img{background:url(../_Img/Sub/top-vis0302.jpg) no-repeat center center;}
#top-vis.vis0303 .img{background:url(../_Img/Sub/top-vis0303.jpg) no-repeat center center;}
#top-vis.vis0304 .img{background:url(../_Img/Sub/top-vis0304.jpg) no-repeat center center;}

#top-vis.vis0401 .img{background:url(../_Img/Sub/top-vis0401.jpg) no-repeat center center;}

#top-vis.vis0501 .img{background:url(../_Img/Sub/top-vis0501.jpg) no-repeat center center;}
#top-vis.vis0502 .img{background:url(../_Img/Sub/top-vis0502.jpg) no-repeat center center;}
#top-vis.vis0503 .img{background:url(../_Img/Sub/top-vis0503.jpg) no-repeat center center;}

#top-vis.vis0501 .ico p{background:url(../_Img/Sub/ico-vis0501.png) no-repeat center 37px;}
#top-vis.vis0502 .ico p{background:url(../_Img/Sub/ico-vis0502.png) no-repeat center 37px;}
#top-vis.vis0503 .ico p{background:url(../_Img/Sub/ico-vis0503.png) no-repeat center 37px;}
	
#snbNav{position:relative; z-index:2901;}
#snbNav:after{width:20000px; left:50%;margin-left:-10000px; top:0 ;height:100%; border-bottom:1px solid #a0a0a0; border-top:1px solid #a0a0a0; display:block; content:"";z-index:-1; position:absolute;}
#snbNav h3{display:none;font-size:17px; font-weight:500; color:#333645; letter-spacing:-0.03em; padding:0 ;line-height:53px;height:54px;}
#snbNav .ctrl{display:none;width:54px;height:54px; position:absolute;right:0; top:0; border:none; background:url(../_Img/Sub/snb-ctrl.png) no-repeat center center #f7f7f7;  background-size:30% auto !important; border-left:1px solid #ddd}
#snbNav .ctrl.active{background-image:url(../_Img/Sub/snb-ctrlo.png); }
#snbNav ul{}
#snbNav ul:after{display:block; content:"";clear:both;}
#snbNav ul li{float:left;}
#snbNav ul li a{font-weight:100; line-height:75px; color:#333645;display:block; text-align:center; font-size:18px; letter-spacing:-0.03em;}
#snbNav ul li.active a{font-weight:700;}

#snbNav ul.c04 li{width:25%;}
#snbNav ul.c03 li{width:33.333333333333%;}
	@media only screen and (min-width:1000px) {
		#snbNav ul{display:block !important}
	}
	@media only screen and (max-width:1350px) {
		#top-vis{height:440px;}
		#top-vis .btxt{font-size:21px;}
		#top-vis .stxt{font-size:54px;}
		
		#top-vis .ico{width:240px;height:240px ;margin-left:-120px}
		#top-vis .ico p{background-size: 90px auto !important; padding-top:145px; font-size:41px;}

		#snbNav ul li a{ line-height:65px; font-size:17px;}
	}	
	@media only screen and (max-width:1100px) {
		#top-vis{height:400px;}
		#top-vis .btxt{font-size:19px;}
		#top-vis .stxt{font-size:49px;}

		#top-vis .ico{width:210px;height:210px ;margin-left:-105px; top:58%;}
		#top-vis .ico p{background-size: 80px auto !important; padding-top:125px; font-size:34px;}

		#snbNav ul li a{line-height:60px;}
	}
	@media only screen and (max-width:999px) {
		#top-vis{height:350px;}
		#top-vis .txt{top:60%}
		#top-vis .btxt{font-size:17px;}
		#top-vis .stxt{font-size:42px; margin-top:3px}
		
		#top-vis .ico{width:176px;height:176px ;margin-left:-88px; top:58%;}
		#top-vis .ico p{background-position:center 29px !important;background-size:65px auto !important; padding-top:105px; font-size:29px;}
		
		#snbNav{border-bottom:1px solid #ddd; background:#fff}
		#snbNav:after{display:none;}
		#snbNav h3{display:block;}
		#snbNav .ctrl{display:block;}
		#snbNav ul{display:none;;background:#fff;position:absolute; left:0; top:55px ;width:100%; padding:12px 0; box-shadow: 0 3px 5px rgba(0, 0, 0, 0.15); -webkit-box-shadow: 0 3px 5px rgba(0, 0, 0, 0.15); -moz-box-shadow: 0 3px 5px rgba(0, 0, 0, 0.15) ;}
		#snbNav ul li{float:none; width:auto !important;}
		/* #snbNav ul li:nth-child(n+2){border-top:1px solid #dedede;} */
		#snbNav ul li a{text-align:left; padding:0 20px; font-size:15px; line-height:38px;}
	}
	@media only screen and (max-width:680px) {
		#top-vis{height:300px;}
		#top-vis .btxt{font-size:15px;}
		#top-vis .stxt{font-size:35px; margin-top:1px}

		#top-vis .ico{width:140px;height:140px ;margin-left:-70px; top:58%;}
		#top-vis .ico p{background-position:center 19px !important;background-size:56px auto !important; padding-top:75px; font-size:24px;}

		#snbNav h3{height:47px; line-height:48px; font-size:16px;}
		#snbNav .ctrl{width:47px;height:47px; }
		#snbNav ul{top:48px;}
		#snbNav ul li a{padding:0 15px; font-size:14px;line-height:32px;}
	}
	@media only screen and (max-width:480px) {
		#top-vis{height:250px;}
		#top-vis .btxt{font-size:14px;}
		#top-vis .stxt{font-size:31px;}
		#top-vis .ico{width:106px;height:106px ;margin-left:-53px; top:60%;}
		#top-vis .ico p{background-position:center 12px !important;background-size:50px auto !important; padding-top:60px; font-size:16px;}

		#snbNav h3{font-size:15px; padding:0 5px;}
		#snbNav ul li a{padding:0 15px;}
	}

.top-btn{ z-index:2004;right:-70px;width:40px;height:40px; text-align:Center; background:url(../_Img/Layout/top-arrow.png) no-repeat center center #8c8c8c;background-size:19px auto; border-radius:100%; bottom:20px; text-transform:uppercase; color:#fff; font-size:13px; font-weight:500; position:fixed;-webkit-transition: all 0.3s ease-out;-moz-transition: all 0.3s ease-out;-o-transition: all 0.3s ease-out;transition: all 0.3s ease-out; }
.top-btn:hover{ background:url(../_Img/Layout/top-arrowo.png) no-repeat center center #a5cd37;}
.top-btn.over{right:20px;}
	@media only screen and (max-width:999px) {
		.top-btn{width:30px;height:30px; background-size:14px auto !important;right:-40px; bottom:15px;}
		.top-btn.over{right:15px;}
	}
	@media only screen and (max-width:680px) {
		
	}
	@media only screen and (max-width:480px) {
		.top-btn{bottom:10px;}
		.top-btn.over{right:10px;}
	}

/* ======================================================
    #footer-wrap 
=========================================================*/
#footer-wrap {display:block; position:relative;background:#333645}
#footer{padding:55px 42px 60px 42px;}

.f-logo{position:absolute; left:50px; top:47px; width:165px;height:50px; background-size:100% auto;}

.in-copy{letter-spacing:0em; font-size: 14px; font-weight: 400; text-align: center}
.f-mail {text-align: center;}
.f-mail img {margin-right: 15px; }
.f-mail a {color: #fff; font-size: 14px; font-weight: 400; }
	@media only screen and (max-width:1350px) {
		#footer{padding:50px 35px 50px 35px;}
		.f-logo{left:35px; top:40px;width:160px; height:45px;}

	}
	@media only screen and (max-width:1100px) {
		#footer{padding:45px 30px 45px 30px;}
		.f-logo{left:30px; top:36px;width:150px; height:40px;}
	}
	@media only screen and (max-width:999px) {
		#footer{padding:50px 20px;text-align:center;}
		.f-logo{left:auto; top:auto;width:140px; height:40px; position:relative; display:inline-block;vertical-align:top;}

	}
	@media only screen and (max-width:680px) {
		#footer{padding:45px 15px;}
		.f-logo{width:130px;height:35px;}

	}
	@media only screen and (max-width:480px) {
		#footer{padding:40px 10px;}
		.f-logo{width:120px;height:32px;}
	}

