@charset "utf-8";
i, em{font-style:normal}
.owl-item {float:left;}
.owl-carousel .owl-wrapper {display: none;position:relative;-webkit-transform:translate3d(0px, 0px, 0px);-webkit-transition: all 0.3s ease-out;-moz-transition: all 0.3s ease-out;-o-transition: all 0.3s ease-out;transition: all 0.3s ease-out;}
.owl-stage-outer{overflow:hidden;}
.owl-stage:after{display:block; content:"";clear:both;}
.owl-stage-outer:after{display:block; content:"";clear:both;}
.disabled{display:none}

/* line */
.bd-line{height:1px; background:#e6e6e6;}

/* skipNavi */
#skipNavi {height:0;}
#skipNavi .skipLink {position:absolute;top:-1000px;left:-1000px;overflow:hidden;z-index:5000;}
#skipNavi .skipLink:focus, #skipNavi .skipLink:active {top:0;left:0;padding:10px 20px;background:#1e64ba;color:#fff;}




/* button */
.br-btn, .bb-btn, .bg-btn, .bw-btn {border:none;display:inline-block;font-weight:500;font-size:100%;height:50px;text-align:center; box-sizing:border-box;}
.br-btn span, .bb-btn span, .bg-btn span, .bw-btn span{font-size:17px;}
.br-btn {background:#d71919;border:1px solid #d71919;}
.bb-btn {background:#313131;border:1px solid #111;}
.br-btn span, .bb-btn span, .bg-btn span{display:block;color:#fff;line-height:48px;text-align:center;padding:0 25px;}
.bg-btn {background:#f2f2f2;border:1px solid #dedede;}
.bg-btn span {padding:0 25px;display:block;color:#414141;line-height:48px;text-align:center;}
.bw-btn {background:#fff;border:1px solid #bbb;}
.bw-btn span {padding:0 25px;display:block;color:#333;line-height:48px;text-align:center;}
	@media only screen and (max-width:999px) {
		.br-btn, .bb-btn, .bg-btn, .bw-btn{height:45px;}
		.br-btn span, .bb-btn span, .bg-btn span, .bw-btn span{font-size:16px;}
		.br-btn span, .bb-btn span, .bg-btn span{padding:0 20px;line-height:43px;}
		.bg-btn span {padding:0 20px;line-height:43px;}
		.bw-btn span {padding:0 20px;line-height:43px;}
	}
	@media only screen and (max-width:680px) {
		.br-btn, .bb-btn, .bg-btn, .bw-btn{height:40px;}
		.br-btn span, .bb-btn span, .bg-btn span, .bw-btn span{font-size:15px;}
		.br-btn span, .bb-btn span, .bg-btn span{padding:0 17px;line-height:38px;}
		.bg-btn span {padding:0 17px;line-height:38px;}
		.bw-btn span {padding:0 17px;line-height:38px;}
	}
	@media only screen and (max-width:480px) {
		.br-btn, .bb-btn, .bg-btn, .bw-btn{height:35px;}
		.br-btn span, .bb-btn span, .bg-btn span, .bw-btn span{font-size:14px;}
		.br-btn span, .bb-btn span, .bg-btn span{padding:0 15px;line-height:33px;}
		.bg-btn span {padding:0 15px;line-height:33px;}
		.bw-btn span {padding:0 15px;line-height:33px;}
	}
		


